anthropic
openai
google-genai
python-dotenv
assemblyai
pyaudio
elevenlabs
sounddevice
scipy
fastapi
cartesia
sqlmodel
pymysql
cryptography
passlib[bcrypt]
python-jose[cryptography]
email-validator
bcrypt==4.0.1
